*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}

.container{
  padding: 2%;
  width: 100%;
  
}

h1{
  font-size: 33px;
}
h2{
  font-size: 20px;
}

.form-section{
  width: 100%;
}

.form-section-input{
  padding: 2px;
  margin: 3% 0;
  width: 100%;
}

label{
  font-weight: bolder;
  font-size: 30px;
}

.form-section-input select{
  padding: 2%;
  font-size: 25px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

button{
  padding: 2%;
  width: 100%;
  font-size: 20px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.list-section ul li{
  list-style: none;
  font-size: 18px;
  margin: 2% 0;
}

   /* 📱 Mobile tweaks */
  /* @media (max-width: 600px) {
  
  } */